.main{
    margin-top: 200px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
figure{
    margin: 0;
}
.product-sheet{
    margin: 20px;
    width: 350px;
    height: 350px;
    background-color: $color-nude;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    &-photo{
        margin-top: 15px;
        width: 330px;
        height: 200px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        &-img{
            width: 100%;
        }
    }
    &-description{
        &-text{
            @extend .typo;
            font-style: italic;
            font-size: nth($font-size, 2);
            margin-left: 10px; margin-right: 10px;   
        }
        &-title{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            color: $color-orange;
            @extend .typo;
            margin-left: 10px; margin-right: 10px;
            &-name{
                font-weight: 900;
                font-size: nth($font-size, 4);
            }
            &-price{
                color: $color-pink;
            }
    }
}
}
