.typo, .form, .order-list, .main-order-title-form, .main-order-title, .product-colors, .page-product-sheet-description-title, .page-product-sheet-description-text, .product-sheet-description-title, .product-sheet-description-text, #btn-cancel, #btn-add {
  font-family: "Roboto", sans-serif;
}

#btn-add {
  background-color: #ff5100;
  border: none;
  border-radius: 20px;
  width: 70%;
  margin-bottom: 20px;
  margin-top: 30px;
  padding: 10px;
  font-size: 1rem;
  font-weight: bold;
  color: white;
  transition: transform 450ms ease-in-out, opacity 450ms ease-in-out;
}
#btn-add:hover {
  cursor: pointer;
  transform: scale(1.1);
  opacity: 0.8;
}

#btn-cancel {
  border: none;
  width: 30%;
  background-color: #fc9160;
  margin-bottom: 20px;
  margin-top: 10px;
  padding: 5px;
  font-size: 0.8rem;
  font-weight: bold;
  transition: transform 450ms ease-in-out, opacity 450ms ease-in-out;
}
#btn-cancel:hover {
  cursor: pointer;
  transform: scale(1.1);
  opacity: 0.8;
}

.btn-quantity {
  width: 20px;
  height: 20px;
  background-color: #ff5100;
  border: none;
  opacity: 1;
  transition: opacity 450ms ease-in-out;
}
.btn-quantity:hover {
  cursor: pointer;
  opacity: 0.8;
}
.btn-quantity-less {
  width: 20px;
  height: 20px;
  background-color: #a5a5a5;
  border: none;
  opacity: 1;
  transition: opacity 450ms ease-in-out;
}
.btn-quantity-less:hover {
  cursor: pointer;
  opacity: 0.8;
}

.header {
  box-shadow: 0px 10px 50px #b36e98;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 120px;
  width: 100%;
  overflow: hidden;
  background: #f3e9f1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.header-logo {
  height: 120px;
  margin-left: 20px;
}
@media screen and (max-width: 1050px) {
  .header-logo {
    height: 100px;
  }
}
.header-logo-img {
  height: 100%;
}
.header-shopping-bag {
  font-size: 4.5rem;
  color: #b36e98;
  margin-right: 40px;
  transition: transform 450ms ease-in-out;
}
.header-shopping-bag:hover {
  cursor: pointer;
  transform: scale(1.15);
}

.main {
  margin-top: 200px;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

figure {
  margin: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

figure a {
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-sheet {
  margin: 20px;
  width: 45%;
  height: 100%;
  background-color: #f3e9f1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
}
@media screen and (max-width: 1050px) {
  .product-sheet {
    width: 100%;
  }
}
.product-sheet-photo {
  margin-top: 20px;
  width: 90%;
  height: 360px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
@media screen and (max-width: 1050px) {
  .product-sheet-photo {
    height: 350px;
  }
}
.product-sheet-photo:hover {
  cursor: pointer;
}
.product-sheet-photo-img {
  width: 100%;
  transform: scale(1);
  transition: transform 450ms ease-in-out;
}
.product-sheet-photo-img:hover {
  transform: scale(1.15);
}
.product-sheet-description-text {
  font-style: italic;
  font-size: 0.8rem;
}
.product-sheet-description-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #d68234;
  margin-bottom: 20px;
  margin-top: 20px;
}
.product-sheet-description-title-name {
  font-weight: 900;
  font-size: 1.5rem;
}
.product-sheet-description-title-price {
  color: #b36e98;
}

.page-product-sheet {
  margin: 20px;
  width: 55%;
  height: 100%;
  background-color: #f3e9f1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
}
@media screen and (max-width: 1050px) {
  .page-product-sheet {
    width: 90%;
  }
}
.page-product-sheet-photo {
  margin-top: 20px;
  width: 90%;
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.page-product-sheet-photo:hover {
  cursor: pointer;
}
.page-product-sheet-photo-img {
  width: 100%;
  transform: scale(1);
  transition: transform 450ms ease-in-out;
}
@media screen and (max-width: 1050px) {
  .page-product-sheet-photo-img {
    height: 100%;
    width: auto;
  }
}
.page-product-sheet-photo-img:hover {
  transform: scale(1.15);
}
.page-product-sheet-description {
  margin: 30px;
}
.page-product-sheet-description-text {
  font-style: italic;
  font-size: 1rem;
}
.page-product-sheet-description-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  color: #d68234;
  margin-bottom: 20px;
  margin-top: 20px;
}
.page-product-sheet-description-title-name {
  font-weight: 900;
  font-size: 2rem;
}
.page-product-sheet-description-title-price {
  color: #b36e98;
  font-weight: 900;
  font-size: 1.5rem;
}

.product-colors {
  margin-right: 20px;
  margin-left: 20px;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
}

.colors {
  margin-left: 20px;
  color: #ff5100;
}

.main-order {
  margin-top: 150px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.main-order-title {
  font-size: 1.5rem;
  color: #b36e98;
  margin-left: 20px;
}
.main-order-title-form {
  font-size: 1.5rem;
  color: #d68234;
  margin-left: 20px;
}

ul {
  list-style: none;
  padding: 0;
  margin-left: 20px;
  margin-right: 20px;
}

li {
  padding: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 20px;
  margin-right: 20px;
}

.order-list {
  width: 90%;
  height: 100%;
  border: #b36e98 solid 2px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.form {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 20px;
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  border: #b36e98 solid 2px;
}
.form div {
  margin-left: 20px;
}
.form input {
  margin: 20px 0 20px 0px;
  width: 300px;
  border: #d68234 solid 2px;
  border-radius: 5px;
  padding: 5px;
}
.form input.input-submit {
  width: 100%;
  margin-left: 20 px;
  background-color: #ff5100;
  color: white;
  padding: 5px;
  border: none;
  opacity: 1;
  transition: transform 450ms ease-in-out, opacity 450ms ease-in-out;
}
.form input.input-submit:hover {
  cursor: pointer;
  transform: scale(1.1);
  opacity: 0.8;
}

/*# sourceMappingURL=style.css.map */
