.typo, .main-confirm, .pop-up-confirmation, .form, .order-list, .title-order-total, .title-order-list, .main-order-title-form, .main-order-title, .product-colors, .page-product-sheet-description-title, .page-product-sheet-description-text, .product-sheet-description-title, .product-sheet-description-text, #continueshopping, .pop-up-links, #btn-cancel,
.btn-deleate-cart, #btn-add {
  font-family: "Roboto", sans-serif;
}

#btn-add {
  background-color: #ff5100;
  border: none;
  border-radius: 20px;
  width: 70%;
  margin-bottom: 20px;
  margin-top: 30px;
  padding: 10px;
  font-size: 1rem;
  font-weight: bold;
  color: white;
  transition: transform 450ms ease-in-out, opacity 450ms ease-in-out;
}
#btn-add:hover {
  cursor: pointer;
  transform: scale(1.1);
  opacity: 0.8;
}

#btn-cancel,
.btn-deleate-cart {
  border: none;
  width: 30%;
  background-color: #fc9160;
  margin-bottom: 20px;
  margin-top: 10px;
  padding: 5px;
  font-size: 0.8rem;
  font-weight: bold;
  transition: transform 450ms ease-in-out, opacity 450ms ease-in-out;
}
#btn-cancel:hover,
.btn-deleate-cart:hover {
  cursor: pointer;
  transform: scale(1.1);
  opacity: 0.8;
}

.btn-quantity {
  width: 20px;
  height: 20px;
  margin: 0;
  background-color: #ff5100;
  border: none;
  opacity: 1;
  transition: opacity 450ms ease-in-out;
}
.btn-quantity:hover {
  cursor: pointer;
  opacity: 0.8;
}
.btn-quantity-less {
  width: 20px;
  height: 20px;
  background-color: #a5a5a5;
  border: none;
  opacity: 1;
  transition: opacity 450ms ease-in-out;
}
.btn-quantity-less:hover {
  cursor: pointer;
  opacity: 0.8;
}

#gotobag {
  background-color: #ff5100;
  border: none;
  border-radius: 20px;
  width: 50%;
  margin-bottom: 20px;
  margin-top: 30px;
  padding: 10px;
  transition: transform 450ms ease-in-out, opacity 450ms ease-in-out;
}
#gotobag:hover {
  cursor: pointer;
  transform: scale(1.1);
  opacity: 0.8;
}

.pop-up-links {
  text-decoration: none;
  font-size: 1rem;
  font-weight: bold;
  color: white;
}

#continueshopping {
  background-color: #d68234;
  border: none;
  border-radius: 20px;
  width: 50%;
  margin-bottom: 20px;
  margin-top: 30px;
  padding: 10px;
  font-size: 1rem;
  font-weight: bold;
  color: white;
  transition: transform 450ms ease-in-out, opacity 450ms ease-in-out;
}
#continueshopping:hover {
  cursor: pointer;
  transform: scale(1.1);
  opacity: 0.8;
}

.header {
  box-shadow: 0px 10px 50px #b36e98;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 120px;
  width: 100%;
  overflow: hidden;
  background: #f3e9f1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.header-logo {
  height: 120px;
  margin-left: 20px;
}
@media screen and (max-width: 1050px) {
  .header-logo {
    height: 100px;
  }
}
.header-logo-img {
  height: 100%;
}
@media screen and (max-width: 1050px) {
  .header-logo-img {
    height: 90%;
  }
}
.header-shopping-bag {
  font-size: 4.5rem;
  color: #b36e98;
  margin-right: 40px;
  transition: transform 450ms ease-in-out;
}
.header-shopping-bag:hover {
  cursor: pointer;
  transform: scale(1.15);
}

.main {
  margin-top: 150px;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

figure {
  margin: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

figure a {
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-sheet {
  margin: 20px;
  width: 45%;
  height: 100%;
  background-color: #f3e9f1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
}
@media screen and (max-width: 1050px) {
  .product-sheet {
    width: 100%;
  }
}
.product-sheet-photo {
  margin-top: 20px;
  width: 90%;
  height: 360px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
@media screen and (max-width: 1050px) {
  .product-sheet-photo {
    height: 350px;
  }
}
.product-sheet-photo:hover {
  cursor: pointer;
}
.product-sheet-photo-img {
  width: 100%;
  transform: scale(1);
  transition: transform 450ms ease-in-out;
}
.product-sheet-photo-img:hover {
  transform: scale(1.15);
}
.product-sheet-description-text {
  font-style: italic;
  font-size: 0.8rem;
}
.product-sheet-description-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #d68234;
  margin-bottom: 20px;
  margin-top: 20px;
}
.product-sheet-description-title-name {
  font-weight: 900;
  font-size: 1.5rem;
}
.product-sheet-description-title-price {
  color: #b36e98;
}

.page-product-sheet {
  margin: 20px;
  width: 45%;
  height: 100%;
  background-color: #f3e9f1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
}
@media screen and (max-width: 1050px) {
  .page-product-sheet {
    width: 100%;
  }
}
.page-product-sheet-photo {
  margin-top: 20px;
  width: 90%;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.page-product-sheet-photo:hover {
  cursor: pointer;
}
.page-product-sheet-photo-img {
  width: 100%;
  transform: scale(1);
  transition: transform 450ms ease-in-out;
}
@media screen and (max-width: 1050px) {
  .page-product-sheet-photo-img {
    height: 100%;
    width: auto;
  }
}
.page-product-sheet-photo-img:hover {
  transform: scale(1.15);
}
.page-product-sheet-description {
  margin: 30px;
}
.page-product-sheet-description-text {
  font-style: italic;
  font-size: 1rem;
}
.page-product-sheet-description-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  color: #d68234;
  margin-bottom: 20px;
  margin-top: 20px;
}
.page-product-sheet-description-title-name {
  font-weight: 900;
  font-size: 2rem;
}
.page-product-sheet-description-title-price {
  color: #b36e98;
  font-weight: 900;
  font-size: 1.5rem;
}

.product-colors {
  margin-right: 20px;
  margin-left: 20px;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
}

.colors {
  margin-left: 20px;
  color: #ff5100;
}

.main-order {
  margin-top: 150px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 1050px) {
  .main-order {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
  }
}
.main-order-title {
  font-size: 1.5rem;
  color: #b36e98;
}
.main-order-title-form {
  text-align: center;
  font-size: 1.5rem;
  color: #d68234;
}

.title-order-list {
  background-color: #b36e98;
  font-size: 1rem;
  font-weight: 900;
  color: white;
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}
.title-order-list li {
  width: 50px;
}
@media screen and (max-width: 1050px) {
  .title-order-list li {
    width: 30px;
  }
}

.title-order-total {
  text-align: center;
  border: #ff5100 solid 2px;
  font-size: 1rem;
  font-weight: 900;
  padding: 20px;
  width: 50%;
}
.title-order-total span {
  color: #ff5100;
  font-weight: 900;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  padding: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 20px;
  margin-right: 20px;
}

.order-product-selectquantity {
  text-align: center;
}

.order-product-quantity {
  text-align: center;
  padding: 10px;
}

.order-list {
  width: 100%;
  height: 100%;
  border: #b36e98 solid 2px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.order-list li {
  width: 50px;
}
@media screen and (max-width: 1050px) {
  .order-list li {
    width: 30px;
  }
}

.order-product-photo {
  height: 60px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.order-product-img {
  height: 100%;
}

.form {
  padding-top: 30px;
  padding-bottom: 10px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: #b36e98 solid 2px;
}
@media screen and (max-width: 1050px) {
  .form {
    margin: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.form div {
  display: flex;
  flex-direction: column;
  text-align: center;
}
@media screen and (max-width: 1050px) {
  .form div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
  }
}
.form input {
  text-align: center;
  margin: 20px 0 20px 0px;
  width: 250px;
  border: #d68234 solid 2px;
  border-radius: 5px;
  padding: 10px;
}

#btn-submit {
  width: 100%;
  margin-left: 20 px;
  background-color: #ff5100;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  opacity: 1;
  transition: transform 450ms ease-in-out, opacity 450ms ease-in-out;
}
#btn-submit:hover {
  cursor: pointer;
  transform: scale(1.1);
  opacity: 0.8;
}

.pop-up-confirmation {
  padding: 20px;
  position: absolute;
  z-index: 1;
  top: 250px;
  width: 80%;
  height: 300px;
  background-color: #f3e9f1;
  border: #b36e98 solid 2px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
}
@media screen and (max-width: 1050px) {
  .pop-up-confirmation {
    top: 200px;
    width: 80%;
  }
}

.main-confirm {
  margin-top: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main-confirm p {
  text-align: center;
}
.main-confirm img {
  margin-top: 30px;
  width: 50%;
}

.confirm-title {
  font-size: 2rem;
  text-align: center;
  color: #b36e98;
  margin-bottom: 40px;
}

.title-thanks {
  font-size: 1.5rem;
  text-align: center;
  color: #d68234;
  margin-bottom: 40px;
}

/*# sourceMappingURL=style.css.map */
