#btn-add{
    background : linear-gradient($color-orange, $color-purple);
    border: none;
    border-radius: 20px;
    width : 70%;
    margin-bottom : 20px;
    padding : 10px;
    @extend .typo;
    font-weight: bold;
    color : white;
    transition: transform 450ms ease-in-out, opacity 450ms ease-in-out;
    &:hover{
        cursor: pointer;
        transform : scale(1.1);
        opacity : 0.8;
    }
}